html {
    height: 100%;
}
body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0.5em;
    box-sizing: border-box;
}

hr {
    width: 100%;
}

ul {
    margin-top: 0.1em;
}

select {
    width: auto;
    flex: 1;
    max-width: 177px;
    padding-block: 1px;
    padding-inline: 2px;
    height: 21px;
    display: inline-block;
}

.flex {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.column {
    flex-direction: column;
    gap: 0.5em;

}

.row {
    flex-direction: row;
    gap: 0.25em;
}

.scroll {
    overflow-y: scroll;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.overflowHidden {
    overflow-x: hidden;
}

.hidden {
    display: none !important;
    height: 0px !important;
}

.contentTab {
    height: auto;
}