html {
    height: 100%;
}
body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0.5em;
    box-sizing: border-box;
}

hr {
    width: 100%;
}

ul {
    margin-top: 0.1em;
}

.flex {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 0.5em;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.overflowHidden {
    overflow-x: hidden;
}

.hidden {
    display: none !important;
    height: 0px !important;
}

.contentTab {
    height: auto;
    overflow-y: scroll;
}